This is configuration file for client. Change the parameters as per your requirement.

The port to be used by clients to listen for connection request by other clients.
#Transmission_Port: 7866

The number of clients which can be listened for at any given instant of time.
#Listen_Conn_No: 10

The IP address of the device which is acting like a server.
Server_IP: 172.20.10.39
#Server_IP: 127.0.0.1

The buffer size of the receive buffer
#Buffer_size: 4096

The number of receive threads to start with
#Rec_thread_start: 4


The port number to be used by the client to send request to server for connection.
#Server_Port: 5000

