This is configuration file for client. Change the parameters as per your requirement.

The port to be used by clients to listen for connection request by other clients.
#Transmission_Port: 7866

The number of clients which can be listened for at any given instant of time.
#Listen_Conn_No: 10

The IP address of the device which is acting like a server.
Server_IP: 172.20.10.39
#Server_IP: 127.0.0.1

The buffer size of the receive buffer
#Buffer_size: 4096

The number of receive threads to start with
#Rec_thread_start: 4

The port number to be used by the client to send request to server for connection.
#Server_Port: 5000

The Port number on which UDP communication will take place
#UDP_PORT: 9000

Amount of time, in seconds, for which the UDP socket will wait for the response
#UDP_RESPONSE_TIME: 3

Amount of attempts to be made for waiting for the UDP response
#UDP_RESPONSE_ATTEMPTS: 2

Amount of time to be increased at very timeout of UDP socket
#UDP_RESPONSE_DELTA: 1

