This is configuration file for server. Change the parameters as per your requirement.

The IP address of the device which will be acting like a server.
#Server_IP: 127.0.0.1

The port number to be used by the server.
#Server_Port: 5000

Number of connection which server would can listen for at any given instant of time.
#Listen_Conn_No: 10

Buffer size in bytes
#Buffer_Size: 2048
